/node_modules
/public/hot
/public/storage
/public/environment_authority
/public/uploads
/storage/*.key
/storage/app/public/uploads/
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/.idea
/nbproject/private/
/nbproject/
/.vs/
/.vs
/public/storage/debugbar
/.lh
/.vscode
composer.phar